/* css zoning correction */

body {
   
    background-color:#eee8aa ;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}
#zoning-7 {
    width: 800px;
    margin: 0 auto;
    background-color: orangered;
}
#zoning-7 header {
    height: 80px;
    background-color: #40a497;
    
}

#zoning-7 nav {
    height: 30px;
    background-color: #9a40a4;
}
#zoning-7 section {
    height: 600px;
    margin: 10px;
    background-color: pink
}

.a, .b, .c, .d {
    width:50%;
    height: 300px;
    float: left;
}

.a {
    background-color: #32a7a0;
}

.b {
    background-color:#d69f1b;
}
.c {
    background-color: #b1b2d8;
}

.d {
    background-color:#1217f2;
}

footer {
    width: 800px;
    height: 40px;
    background-color: #40a497;

}


.clear {
    clear: both;
}